@font-face {
   font-family: 'LatoBold'; 
   src: url('./fonts/lato-bold.ttf') format('truetype');
   font-weight: 700;
 }

 @font-face {
   font-family: 'LatoExtraBold';
   src: url('./fonts/lato-extrabold.ttf') format('truetype');
   font-weight: 800;
 }